.DataList {
  display: flex;
  color: #00203fff;
}
.data-list-contents {
  width: 80%;
}
.data-list-contents > .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  box-shadow: 9px 9px 18px -4px rgba(0, 0, 0, 0.38);
  border: 0.5px solid rgba(66, 66, 66, 0.081);
  padding: 10px;
  border-radius: 5px;
}
.contents > .title {
  margin-top: 10px;
  margin-bottom: 20px;
}
