@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
body {
  margin: 0px;
 padding: 0px;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 18px;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  color: rgb(106, 105, 105);
}
::-webkit-scrollbar-thumb{
  color: #0A2647;
}
